:root[data-theme="theme-light"], :root {	/* default if js is disabled */
	--bodyc:#FAFAFF;
	--wrapperc:#FAFAFA;
	--heartc:white;
	--headerc:#323232;
	--asidec:#FAFAFA;
	--footerc:#FAFAFA;

	--alinkc:blue;
	--avisitedc:blue;
	--ahoverc:orange;
	--aactivec:white;

	--wrapperbc:black;

	--bgimg:url(../img/bg32.png);

	--textareac:white;
	--textareafc:black;

	--tcolor:black;
	--headertc:white;
	--asideh1tc:white;
	--footertc:gray;

	--vnavhoverc:#eeeeee;
	--asideh1c:#323232;
	--heartsectionh1c:#F5F5F5;
	--heartsectionh6c:#FAFAFA;

	--vnavshadow:#0000aa;

	--thtdc:#eeeeee;
}

:root[data-theme="theme-dark"] {
	--bodyc:black;
	--wrapperc:#0f0f0f;
	--heartc:black;
	--headerc:#e2e2e2;
	--asidec:#0f0f0f;
	--footerc:#0f0f0f;

	--alinkc:orange;
	--avisitedc:orange;
	--ahoverc:blue;
	--aactivec:white;

	--wrapperbc:white;

	--textareac:black;
	--textareafc:white;

	--bgimg:url(../img/bg32inv.png);

	--tcolor:white;
	--headertc:black;
	--asideh1tc:black;
	--footertc:gray;

	--vnavhoverc:#202020;
	--asideh1c:#e2e2e2;
	--heartsectionh1c:#141414;
	--heartsectionh6c:#0f0f0f;

	--vnavshadow:#FFA500;

	--thtdc:#202020;
}

* { 
	padding:0;
	margin:0;
	/* border:0; */
}

html {
	min-height:100%;
}

body {
	min-height:100%;
	background-color:var(--bodyc);
	background-image:linear-gradient(rgba(255,0,0,0.1), rgba(255, 255, 0, 0.1), rgba(0,255,0,0.1), rgba(0,255,255,0.1), rgba(0,0,255,0.1), rgba(255,0,255,0.1), rgba(255,0,0,0.1)), var(--bgimg);
	background-repeat:repeat;
	background-attachment:fixed;
	color:var(--tcolor);
}

@keyframes wrappercolor {
	0% {border-color:red;}
	16.66% {border-color:yellow;}
	33.32% {border-color:rgb(0,255,0);}
	49.98% {border-color:cyan;}
	66.64% {border-color:blue;}
	83.3% {border-color:magenta;}
	100% {border-color:red;}
}

div#wrapper {
	margin:5px auto 5px auto;
	border:1px solid var(--wrapperbc);
	background-color:var(--wrapperc);
	animation:wrappercolor 60s linear 0s infinite;
}

div#header {
	background-color:var(--headerc);
	color:var(--headertc);
	height:25px;
	width:100%;
}

div#heart {
	float:left;
	min-height:100px;
	background-color:var(--heartc);
	margin:5px;
}

div#aside {
	background-color:var(--asidec);
	height:100%;
	width:120px;
	float:left;
	margin:5px;
	border:0;
}

div#footer {
	height:20px;
	width:100%;
	clear:both;
	display:block;
	background-color:var(--footerc);
	text-align:center;
	color:var(--footertc);
}

div#background-text {
	position:absolute;
	top:2px;
	bottom:0;
	left:2px;
	right:0;
	z-index:-1;
	overflow:hidden;
	-webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	cursor:default;
	opacity:0.1;
}