@import url("layout.css");

/* thread.php L:57 */
div#threadtitle{		/* not registering */
	background-color:var(--heartsectionh1c);
}

/* ELEMENTS START */
input[type="search"], .textfield {
    background-color:var(--textareac);
    color:var(--textareafc);
}

.textfield {
	margin-top:5px;
}

input#searchb {
	width:20px;
}
	/* COLLAPSIBLE START */
.collapsible {
	display:none;
	text-align:left;
}

.content {
	overflow:hidden;
}
	/* COLLAPSIBLE END*/

	/* ACCORDION START */
.accordion {
	background-color:#eee;
	color:#444;
	padding:5px;
	width:100%;
	border:none;
	text-align:left;
	outline:none;
	transition:0.2s;
}
  
.active, .accordion:hover {
	background-color:#ccc;
}
  
.accordion:after {
	content:'+';
	color:#777;
	float:right;
	margin-left:5px;
}

.active:after {
	content:'-';
}
  
.panel {
	padding:0 5px;
	background-color:var(--textareac);
	max-height:0;
	overflow:hidden;
	transition:max-height 0.2s ease-out;
}
	/* ACCORDION END */
/* ELEMENTS END */

/* STYLES START */
a {
	text-decoration:none;
	text-transform:none;
}

a:link {	color:var(--alinkc); }
a:visited {	color:var(--avistedc); }
a:hover {	color:var(--ahoverc); }
a:active {	color:var(--aactivec); }

.syn {	/* ENABLED THROUGH JAVASCRIPT */
    -webkit-background-clip:text;
	background-clip:text;
    color:transparent;
    -webkit-text-fill-color:transparent;
}

.f0 {	font-size:19px;}
.f1 {	font-size:17px;}
.f2 {	font-size:15px;}
.f3 {	font-size:14px;}
.f4 {	font-size:11px;}
.f5 {	font-size:9px;}
.f6 {	font-size:7px;}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}

div#heart nav ul li {
	list-style:none;
}

div#heart div {
	margin-bottom:10px;
	background-color:var(--heartc);
	word-wrap:break-word;
}

div#heart :is(h1, h2, h3, h4){
	background-color:var(--heartsectionh1c);
	text-indent:10px;
}

div#heart :is(h5, h6) {
	background-color:var(--heartsectionh6c);
	text-indent:10px;
}

nav,ul,li {
	clear:none;
}

img#checkerbox {
	margin-left:10px;
	margin-top:8px;
}

img.pass {
	display:none;
	height:16px;
	width:16px;
}

div#header nav {
	float:right;
}

div#header nav ul li {
	margin-right:5px;
	float:left;
}

div#header nav ul li a {
	display:inline;
	color:var(--headertc);
}

li.hnav {
	list-style:square inside url('../img/hlist3_user.png');
}

li.hnav:hover {
	background-color:gray;
}

li.vnavh {
	list-style:none;
	text-shadow: 0 1px var(--vnavshadow);
}

li.vnav img {
	margin:7px 0 0 5px;
	float:left;
}
/* transitions start */
li.vnav a {
	position:relative;
	left:0px;
	transition:left 1s;
}

li.vnav a:hover {
	font-weight:900;
	left:-10px;
}

li.vnav {
	transition: box-shadow 1s;
}

li.vnav:hover {
	background-color:var(--vnavhoverc);
	box-shadow: 2px 2px 5px;
} /* transitions end */

div#aside nav ul {
	text-align:center;
	list-style:none;
}

div#aside nav ul li h1 {
	font-size:14px;
	font-weight:bold;
	color:var(--asideh1tc);
	border-width:0;
	background-color:var(--asideh1c);
	border-radius:5px 5px 0 0;
}

div#aside nav ul li a {
	display:block;
}

.article {		/* UNUSED */
	clear:both;
	width:100%;
}

div.fixindent{
	margin-top:-18px;
}

p {
	padding:5px 5px 5px 5px;
	overflow-wrap:break-word;
}

small {
	font-size:12px;
} 

mark {
	background-color:var(--heartsectionh1c);
	color:var(--tcolor);
}

table {
	margin:5px;
	width:98%;
}

table tr :is(th, td) {
	background-color:var(--thtdc);
	overflow-wrap:break-word;
}

span {
	word-break:break-all;
}

td.tduser {
	width:15%;
	text-align:center;
	vertical-align:top;
}

textarea {
	resize:none;
}

button.b1 { /* html tag text buttons */
	margin-left:2px;
	margin-right:2px;
}

div#line {
	position:fixed;
    height:1px;
    width:100%;
	top:0;
    padding:0;
    margin:0;
    border:0;
    background-color:rgb(255,0,0);
	z-index:-1;
}

div#vline {
	position:fixed;
	height:100vh;
	width:2px;
	top:0;
	left:0;
	padding:0;
	margin:0;
	border:0;
	background-image:linear-gradient(180deg, red,yellow,rgb(0,255,0),cyan,blue,magenta,red);
	z-index:-2;
}

::selection {
	background-color:var(--textareafc);
	color:var(--textareac);
}
/* STYLES END */

/* CUBE START */
:root {
	--cubel:50px;
	--cubet:calc(var(--cubel)/2);
}

#cubeicle {
	margin-top:25px;
	margin-bottom:15px;
	height:var(--cubel);
	width:var(--cubel);
	transform-style:preserve-3d;
	transform:rotate3d(1,1,1,30deg);
	margin-left:auto;
	margin-right:auto;
}
  
.face {
	height:100%;
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	position:absolute;
	backface-visibility: inherit;
	opacity: 0.5;
	font-size:60px;
	color:white;
}
  
.front {
	background-color: red;
	transform: translateZ(var(--cubet));
}
  
.right {
	background-color: yellow;
	transform: rotateY(90deg) translateZ(var(--cubet));
}
  
.back {
	background-color: rgb(0,255,0);
	transform: rotateY(180deg) translateZ(var(--cubet));
}
  
.left {
	background-color: cyan;
	transform: rotateY(-90deg) translateZ(var(--cubet));
}
  
.top {
	background-color: blue;
	transform: rotateX(90deg) translateZ(var(--cubet));
}
  
.bottom {
	background-color: magenta;
	transform: rotateX(-90deg) translateZ(var(--cubet));
}
/* CUBE END */

div#login_popout {
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	height:200px;
	width:230px;
	margin-top:-100px;
	margin-left:-115px;
	padding-left:20px;
	background-color:gray;
	border-color:black;
	border-style:solid;
	border-width:1px;
	border-radius:10px;
	box-shadow:5px 5px 5px black;
	z-index:1;
}

div#convo {
	border:1px inset #ccc;
	width:99%;
	min-height:40px;
	max-height:500px;
	overflow-y:scroll;
}

/* Likes (who) Hover */
span.likes:hover + div.likeids {
	display:block;
}

div.likeids {
	display:none;
	position:absolute;
	min-width:100px;
	min-height:0;
}